<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<script src="https://use.fontawesome.com/1e803d693b.js"></script>

<div class="container">
  <div class="row">
    <div class="panel panel-default user_panel">
      <div class="panel-heading">
        <h3 class="panel-title">Alunos</h3>
      </div>
      <div class="panel-body">
        <div class="table-container">
          <table class="table-users table" border="0">
            <thead>
              <tr>
                <th>
                </th>
                <th>
                  <span>Nome</span>
                </th>
                <th>
                  <span>Email</span>
                </th>
                <th class="text-center">
                  <span>Curso</span>
                </th>
                <th class="text-center">
                  <span>Status</span>
                </th>
                <th class="text-center">
                  <span>Último acesso</span>
                </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="10">
                  <img class="pull-left img-circle nav-user-photo" width="50" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Clint_Eastwood_at_2010_New_York_Film_Festival.jpg"
                  />
                </td>
                <td>
                  Clint Eastwood
                  <br>
                  <span class="user-description">Aluno</span>
                </td>
                <td>
                  <i class="fa fa-envelope"></i>
                  <a href="#">thegood@eastwood.com</a>
                </td>
                <td align="center">
                  Matemática
                </td>
                <td align="center">
                  Matriculado
                  <br>
                  <small class="text-muted">Cursando</small>
                </td>
                <td align="center">
                  06/04/2018
                  <br>
                  <small class="text-muted">Hoje</small>
                </td>
              </tr>
              <tr>
                <td width="10">
                  <img class="pull-left img-circle nav-user-photo" width="50" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Lee_Van_Cleef_in_Stories_of_the_Century.jpg"
                  />
                </td>
                <td>
                  Lee Van Cleef
                  <br>
                  <span class="user-description">Aluno</span>
                </td>
                <td>
                  <i class="fa fa-envelope"></i>
                  <a href="#">thebad@cleef.com</a>
                </td>
                <td align="center">
                  Química
                </td>
                <td align="center">
                  Concluído
                  <br>
                  <small class="text-muted">Aprovado</small>
                </td>
                <td align="center">
                  16/12/1989
                  <br>
                  <small class="text-muted">29 anos atrás</small>
                </td>
              </tr>
              <tr>
                <td width="10">
                  <img class="pull-left img-circle nav-user-photo" width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Eli_Wallach_-_publicity.jpg/440px-Eli_Wallach_-_publicity.jpg"
                  />
                </td>
                <td>
                  Eli Wallach
                  <br>
                  <span class="user-description">Aluno</span>
                </td>
                <td>
                  <i class="fa fa-envelope"></i>
                  <a href="#">theugly@wallach.com</a>
                </td>
                <td align="center">
                  Física
                </td>
                <td align="center">
                  Concluído
                  <br>
                  <small class="text-muted">Aprovado</small>
                </td>
                <td align="center">
                  24/06/2014
                  <br>
                  <small class="text-muted">4 anos atrás</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>