{% load staticfiles %}

<head>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<div class="container">    
    <div class="row">
        <div class="panel-heading">
            <h4 >User Profile</h4>
        </div>
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive img-small"> 
            </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
            <div class="container" >
              <h2>John Doe</h2>
              <p>an   <b> Employee</b></p>
            </div>
            <hr>
            <ul class="container details" >
              <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg</p></li>
              <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
            </ul>
            <hr>
            <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: 15 Jun 2016</div>
        </div>
  </div>
</div>