i {
  vertical-align: middle;
}
.table-users tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.nav-user-photo {
  vertical-align: middle;
}
.user_panel {
  width: 50%;
}

.user-description {
  font-size: 0.875em;
  font-style: italic;
}
