.profile-text p, h1 {
    color: #757575;
    font-family: 'Open Sans', sans-serif;
}

.profile-header {
    margin-top: 30px;
    margin-bottom: 90px;
}

.img-thumbnail.rounded-circle.profile-pic {
    max-width: 300px;
    max-height: 300px;
}

body {
    background-color: #fafafa;
}

.profile-container {
    margin: 0 auto;
    width: 85%;
}

.h3, .h5 {
    margin-left: 10px;
}

