{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static 'css/create_news.css' %}" rel="stylesheet" > 
{% endblock %}


{% block content %}
<head>
    {{ form.media }}
</head>
<body>
    <div class="container">
        <form action="/news/create_news/" method="post">
        {% csrf_token %}
            
            <div class="input-field form-title">
                <label for="{{form.title.id_for_label}}" class="label-text">Título</label>
                {{form.title}}
            </div>

            {{form.body}}

            <div class="form-visible">
                <label for="{{form.title.id_for_label}}" class="label-text">Visivel para</label>
            </div>
        
                {% for group in form.visible_to %}
                    <div class="checkbox-group">
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span> {{group}}</span>
                            </label>
                        </p>    
            
                    </div>
                {% endfor %}
    
            <div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                  </button>
            </div>

        </form>
    </div>
</body>
{% endblock %}