{% extends 'base.html' %}

{% block content %}


<h1>Notícias</h1>
<body>
    <div class="container">
            {% for newsitem in object_list %}
                <div class="card hoverable">
                    <a href="#">
                            <div class="card-content card">
                            <h2>{{ newsitem.title }}</h2>
                            <p><b>Postado em:</b> {{ newsitem.posted_at }} </p>
                            <p><b>Escrito por:</b> {{ newsitem.posted_by }} </p>
                        </div><!-- .card-content -->
                    </a>
                </div>    
                {% empty %}
                    No news yet.
                {% endfor %}
    </div>
</body>

{% endblock %}