
{% extends 'base.html' %}
{% block content %}
<style>
  .div {
    width: 960px;
   
    margin: 0 auto;
    font-size: 1.1em;
    padding: 20px;
    text-align: justify;
    align-self: center;
  }

  .data {
    font-weight: bold;
    font-size: 100%;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-size-adjust: none;
    position: relative;
    left: 740px;
    display: inline-block;
  }

</style>

<div class="container">
  <div class="row">
    <div class="panel panel-default user_panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{ newsitem.title }}</h3>
      </div>
      <div class="div">
        <div>      
          <p>{{ newsitem.body }}</p>
          <p class="data">Postado em {{ newsitem.posted_at }} por {{ newsitem.posted_by }}</p>  
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}