
{% extends 'base.html' %}
{% block content %}
<style>
  .div {
    width: 960px;
   
    margin: 0 auto;
    font-size: 1.1em;
    padding: 20px;
    text-align: justify;
    align-self: center;
  }

  .data {
    font-weight: bold;
    font-size: 100%;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-size-adjust: none;
    position: relative;
    left: 740px;
    display: inline-block;
  }

</style>

<div class="container">
  <div class="row">
    <div class="panel panel-default user_panel">
      <div class="panel-heading">
        <h3 class="panel-title"> Título </h3>
      </div>
      <div class="div">
        <div>      
          <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis, dolor in tincidunt mollis, lorem purus sagittis nisl, eget vulputate tortor quam ultricies augue. Duis lobortis risus cursus eros tempor mattis. Fusce lacinia convallis ullamcorper. Aenean gravida vel est pretium efficitur. Aliquam a tempus dolor. Curabitur elit est, semper pellentesque leo ac, viverra congue ante. Nulla non lorem aliquet, sodales ex sit amet, vestibulum dui. Aliquam vitae est justo. Phasellus tempor justo vitae mi ultrices sollicitudin. Phasellus mi metus, accumsan sed leo at, posuere gravida mi. Donec eget quam eget sem molestie ornare nec eget ligula. Fusce gravida magna nec tortor mattis pretium.
            
            Curabitur placerat condimentum ultricies. Nam lacinia tincidunt tortor ac consectetur. Morbi scelerisque neque quis sodales ornare. Donec maximus viverra faucibus. Cras dapibus, leo vitae efficitur laoreet, sem turpis fringilla neque, ac tempus mauris nisi et nisl. Suspendisse nisi elit, posuere a ultrices in, varius quis sapien. Morbi et efficitur sem, in interdum dolor. In hac habitasse platea dictumst. Donec volutpat euismod pharetra.
            
            Aliquam viverra scelerisque lacus, in faucibus tortor egestas ac. Nulla hendrerit euismod vulputate. Vestibulum aliquet euismod risus eget rutrum. Donec feugiat felis maximus, suscipit est a, elementum nulla. Suspendisse tellus ex, viverra non dui eget, accumsan malesuada leo. Morbi quis egestas mauris. Integer ac nibh accumsan, luctus quam sed, vestibulum nunc. Integer eleifend eros vitae lectus dictum consectetur. Integer pulvinar ac quam at fringilla. Proin gravida rutrum quam sit amet semper. Duis a urna varius, pretium sem ac, porta eros. Sed eget velit a libero venenatis egestas. Praesent rutrum lectus dolor, at congue orci molestie vel. 
          </p>
          <p class="data">01/01/2011 as 8:30 - Autor </p>  
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}